<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-pink-50">
    <nav class="bg-pink-900 p-4 shadow-md">
        <div class="px-10 mx-auto flex justify-between items-center">
          <h1 class="text-white text-2xl font-semibold"><a href="/" class="text-white">RemoteOps</a></h1>
          <div class="flex space-x-4">  
            <a href="/" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Home</a>
            <a href="/aiapp" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">AI App</a>
            <a href="/profile" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Profile</a>
            <% if (user && user.role !== 'user') { %>  
              <a href="/admin" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Admin</a>
            <% } %>
            <a href="/logout" class="text-white text-sm  bg-pink-600 duration-300 ease-in-out hover:bg-pink-500 px-4 py-2 rounded">Logout</a>
          </div>
        </div>
      </nav>

      <main class="p-6 px-16 mb-20">
        <div>
            <h1 class="text-2xl font-semibold my-8">Query Bot</h1>
            <form action="/aiapp" method="POST" class="p-8 bg-white shadow-md rounded">
                <label for="" class="block text-gray-800 text-lg font-semibold pb-4">Enter your Query</label>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <textarea name="prompt" rows="4" class="resize-none p-4 mb-4 border rounded w-full" placeholder="Enter your query..."></textarea>
                <p class="text-sm text-gray-600 pb-2 italic">Try prompt like "How many ongoing projects?"</p>
                <button type="submit" class="p-2 mt-2 bg-pink-600 px-4 text-white rounded">Get Answer</button>
            </form>
        </div>
        <div>
            <% if (content) { %>
                <div class="bg-white p-6 my-4 shadow-md rounded-md">
                    <h3 class="pb-3 font-semibold text-lg">Result</h3>
                    <pre class="bg-gray-100 p-4 rounded"><%= content %></pre>
                </div>
            <% } %>
        </div>
    </main>
    
      
      <footer class="bg-pink-900 p-4 shadow-md text-center text-white fixed bottom-0 w-full mt-28 border-t border-pink-400 mt-20">
        &#169; RemoteOps
    </footer>
    </body>
   </html>